.seller-add-comment{
      width: 80vw;
      margin: auto;
}

.seller-add-comment input {
    width: 50vw;
    padding: 10px;
    border-radius: 5px;

}

.seller-add-comment-btn{
    padding: 12px 25px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}

.seller-add-comment-btn :hover{
    background-color: darkgreen;    
}

.buyer-comments-area{
    width: 80vw;
    margin: auto;
}

.seller-comment-card{
    background-color: aquamarine;
    padding: 15px 25px;
}
.seller-reply-card{
    background-color: antiquewhite;
    padding: 15px 25px;
    margin-left: 50px;
}