:root {
    --main-radius: 20px;
    --main-padding: 5px;
}

.profile_body-c {
    display: grid;
    height: fit-content;
    grid-gap: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    position: relative;
    z-index: -1;
    padding: 4rem;
    background: url('../home/images/background1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#profile_content1-c {
    background: #fff;
    grid-area: content1-c;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: left;
    padding: 0px 0px 0px 50px;
    justify-content: center;
    margin: 0;
    padding-bottom: 20px;
}

#profile_content1-c img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-top: 20px;
}

.profile_contact-c {
    margin-top: -90px;
}

#profile_contact-c h3 {
    font-size: 20px;
    margin-top: 20px;
}

#profile_contact-c h4 {
    font-size: 15px;
    margin-top: 5px;
}

#profile_content2-c {
    background: #fff;
    grid-area: content2-c;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#profile_content3-c {
    background: #fff;
    grid-area: content3-c;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: fit-content;
}

#profile_content3-c img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#profile_content3-c h1 {
    margin: 20px;
}

#profile_content3-c i {
    color: orange;
}

#profile_content3-c .profile_reviews_star_c {
    display: inline;
}

#profile_content3-c .profile_reviews_header_c {
    color: orange;
}

#profile_content3-c .profile_reviews_header_c h3 {
    color: #000;
}

#profile_content3-c .profile_reviews_button_c {
    width: 80px;
    height: 30px;
    background-color: #000;
    color: #fff;
}

#profile_content3-c .profile_review_body-c {
    color: #000;
}

#profile_content3-c .profile_reviews_header_c {
    display: flex;
    margin: 20px;
    flex-direction: column;
    text-align: left;
}

#profile_content3-c .profile_review_body_header_c {
    display: flex;
    margin: 20px;
}

#profile_content3-c .profile_review_body_header_c h3 {
    margin-left: 20px;
}

#profile_content3-c .profile_review_body-c {
    text-align: left;
    margin: 20px;
}

#profile_content3-c .profile_review_body_header_c i,h3 {
    margin-top: 10px;
}

#profile_content3-c .profile_div_star-c {
    margin-left: 10px;
}

#profile_content3-c .profile_div_star-c h3 {
    color: rgb(51, 50, 50);
}

#profile_content3-c .profile_reviews_body_c h3 {
    color: rgb(41, 39, 39);
}

#profile_content1-c, #profile_content2-c, #profile_content3-c {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: var(--main-radius);
}

.profile_container-c {
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-left: -10%;
    margin-top: 30px;
}

.image-c {
    width: 40%;
    height: 208px;
}

.description-c p {
    margin: 20px;
    padding: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    color: #000000;
}

/*responsive*/
@media only screen and (min-width: 480px) {
    .profile_body-c {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.4fr 1fr;
        grid-template-areas:
      "content1-c"
      "content2-c"
      "content3-c";
    }
}

@media only screen and (min-width:768px) {
    .profile_body-c {
        grid-template-columns: 0.6fr 1fr;
        grid-template-rows: 0.3fr 0.7fr;
        grid-template-areas:
      "content1-c content2-c"
      "content3-c content3-c";
    }
}

@media only screen and (min-width:992px) {
    .profile_body-c {
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.2fr 0.8fr;
        grid-template-areas:
      "content1-c content2-c"
      "content3-c  content3-c";
    }
}

