
.seller-post-list-background{
    padding: 4rem;
    background: url('../../buyer/home/images/background1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.seller-post-list{
    width: 80vw;
    margin: auto;
    box-sizing: border-box;
}
.seller-post-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    opacity: .8;
}
.seller-post-card-item-row:after{
    content: "";
    display: table;
    clear: both;
}
.seller-post-card-item{
    display:inline-block;
    
    width: 30%;
    padding: 0 10px;
    border: 1px solid;
    box-shadow: 5px 5px 8px #888888;
    margin-left: 10px;
}

.seller-post-card-itm-header{
    display: inline-block;
}
.item-edit-button,
.item-remove-button,
.item-edit-all-button,
.item-remove-all-button{
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    margin: 10px;
    text-decoration: none;

}
.item-edit-button,
.item-remove-button{
    float: right;
}
.item-edit-all-button,
.item-remove-all-button{
    float: left;
}
.item-edit-button, .item-edit-all-button{
    background-color: blue;
}
.item-remove-button, .item-remove-all-button{
    background-color: red;
}

.item-edit-button:hover, .item-remove-button:hover{
    background-color: darkred;

}

.seller-post-card-item-details img{
    max-width: 250px;
    height: auto;
}
.seller-accepted-offers-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .seller-accepted-offers-table td, .seller-accepted-offers-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .seller-accepted-offers-table tr{background-color: #f2f2f2;}
  
  .seller-accepted-offers-table tr:hover {background-color: #ddd;}
  
  .seller-accepted-offers-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


.seller-post-card h2{
    color:#164A41;
    text-align: center;
    font-size: 18px;
}

.seller-post-card-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.seller-view-offer-button{
    background: #205072;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seller-view-offer-button:hover{
    opacity: 0.8;
    transition: .3s;
}

.seller-post-offers{
    margin-top: 100px;
    margin-bottom: 100px;
}


.seller-post-offers h1{
    color: #164A41;
    text-align: center;
}

.seller-post-offers h2{
    color: #164A41;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .seller-post-card-item {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}